table, th, td {
    border: 1px solid;
  }

  body.dark-mode {
    background-color: #212529;
    color: #899095;
  }
   
  .dark-mode a {
    color: #dee2e6;
  }
   
  .dark-mode a:hover {
    color: #3cc368;
  }