/* Estilos CSS para o jogo */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 3px;
    margin-bottom: 100px;
}

.board div {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.message {
    color: red;
    font-weight: bold;
    font-size: 3em;
}