/* estilo.css */

body {
    background-color: #a5d8a1;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    /* Cor do texto do cabeçalho h1 */
}

p {
    color: #555;
    /* Cor do texto do parágrafo */
}

.texto {
    text-align: left;
    color: red;
}

.large {
    font-size: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* estilo para um únivo elemento */
#container {
    background-color: #c6fac6;
    padding: 20px;
}

.container > p{
    color: blue;
}

button:hover {
    background-color: black;
    color: white;
}